@using Microsoft.AspNet.Identity
@using WebFlug.Models

@if (Request.IsAuthenticated)
{
    <li>
        <a href="@Url.Action("Index", "Home")">Home</a>
    </li>

    <li>
        <a href="@Url.Action("ViewOldOrders", "Order")">Orders</a>
    </li>

    <li class="label1" data-label1="hot">
        <a href="@Url.Action("MyOffers", "Offer")">Offers</a>
    </li>

    <li>
        <a href="@Url.Action("MyTrips", "Trip")">Trips</a>
    </li>
}