@model WebFlug.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "offers of orders";
}
<h3>
    @Model.order.OrderNumber
</h3>

@if (Model.Offers.Count == 0)
{
    <text> No offers for this order</text>
}
else
{ <h4>Offers Count = @Model.Offers.Count </h4>

<ui>
    @foreach (var offer in Model.Offers)
    {

        <li>@offer.TravellerReward</li>
    }
</ui>
}

