
@{
    ViewBag.Title = "Customer_Index";
    Layout = "~/Views/Shared/_layout.cshtml";
    @Html.Partial("_VisitorNavBar");
}


<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(/Content/images/plane1.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                With flug you can
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                SHIP AND TRIP
                            </h2>
                        </div>
                        <style>
                            #ordertravel
                            a {
                                display: inline;
                                padding: 10px;
                                margin: 30px;
                            }
                        </style>
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>
                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>

                        </div>

                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(/Content/images/hand1.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Get what you want from
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                around the world
                            </h2>
                        </div>


                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>


                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(/Content/images/paris1.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                you also can travel with flug
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                and shop for money
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>


                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Footer")