@model IEnumerable<WebFlug.Models.Orders>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<title>Flug/Home</title>

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(/Content/images/plane1.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                With flug you can
                            </span>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                SHIP AND TRIP
                            </h2>
                        </div>
                        <style>

                            #ordertravel
                            a {
                                display: inline;
                                padding: 10px;
                                margin: 30px;
                            }
                        </style>
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>
                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slick1" style="background-image: url(/Content/images/slide3.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Get what you want from
                            </span>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                around the world
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>

                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-slick1" style="background-image: url(/Content/images/slider2.jpg);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                you also can travel with flug
                            </span>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                and shop for money
                            </h2>
                        </div>
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600" id="ordertravel">
                            <a href="~/Content/createOrder.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Create Order
                            </a>

                            <a href="~/Content/AddTrip.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Travel with flug
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Orders -->
<div>
    <h3 class="mtext-111 cl2 p-b-16" style="padding:20px;">
        Recent Orders
    </h3>
</div>
<div class="bg0 m-t-23 p-b-140" style="display:inline; padding:20px;">
    <div class="container">
        <div class="row isotope-grid">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ProductImage)" @*style="width:300px; height:300px;"*@/>
                            
                            <a onclick="location.href='@Url.Action("ToMakeOffer_OrderDetails", "Order", new { id =item.Order_Id })'" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Show Details
                            </a>

                        </div>
                        <!--start div-->
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                @*<button class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1 "
                                        onclick="location.href='@Url.Action("ToMakeOffer_OrderDetails", "Order", new { id =item.Order_Id })'">
                                    Show Details
                                </button>*@

                                <p class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </p>

                                <span class="stext-105 cl3">
                                    @Html.DisplayFor(modelItem => item.ProductPrice) L.E
                                </span>
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="~/Content/images/icons/icon-heart-01.png" alt="ICON">
                                </a>
                            </div>

                            <!--end div-->
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<!--trips-->
@*<div>
    <h3 class="mtext-111 cl2 p-b-16" style="padding:20px;">
        Recent Trips
    </h3>
</div>*@

